<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GAMUT TECHONOLOGIES</title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
</head>

<body id="page-top" class="landing-page">
  {{> chatBox}}
</body>
<template name="chatBox">
  <div class="small-chat-box fadeInRight animated">

      <div class="heading" draggable="true">
        Contact Gurus
        <i class="fa fa-times cursor-p pull-right" id="closeChatBox"></i>
      </div>

      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Full name" id="fullName">
          </div>
          <div class="col-md-12" style="margin-top: 10px;">
            <input type="text" class="form-control" placeholder="Email" id="email">
          </div>
          <div class="col-md-12" style="margin-top: 10px;">
            <input type="text" class="form-control" placeholder="Mobile number" id="mobileNumber">
          </div>
          <div class="col-md-12" style="margin-top: 10px;">
            <select id="queryCourse" class="form-control">
              <option>Select Course</option>
              <option>DevOps</option>
              <!-- <option>Build and Release</option>
              <option>Scripting</option> -->
              <option>Others</option>
            </select>
          </div>
          <div class="col-md-12" style="margin-top: 10px;">
            <textarea rows="3 " class="form-control" placeholder="Message" id="message"></textarea>
          </div>
        </div>
      </div>
      <div class="form-chat">
        <div class="input-group input-group-sm"><input type="text" class="form-control" style="visibility: hidden;">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" id="sendEmail">Send</button>
          </span>
        </div>
    </div>
  </div>
  <div id="small-chat">
    <div class="open-small-chat">
      <i class="fa fa-comments small-chat-icon"></i>
    </div>
  </div>
</template>

<template name="info">

  <section>
    <!-- Set background for slide in css -->
    <div class="header-back one">
      <div class="container">
        <div class="row" style="padding-top: 100px;padding-bottom: 50px;">
          <div class="col-lg-6 wow zoomIn text-center">
            <iframe src="https://www.youtube.com/embed/pa8F6iHqD20" frameborder="0" allowfullscreen
            width="390" height="295"></iframe>
          </div>

          {{#with devopsInfo}}
            <div class="col-lg-6 wow zoomIn text-center">
              <ul class="pricing-plan list-unstyled home-box">
                <li class="pricing-desc">
                  <h2 style="font-weight: 600;margin-top:10px;">{{title}}</h2>
                </li>
                <li class="pricing-desc">
                  <span style="display:block;">
                    By<br>
                    P. Nageswara Rao<br>
                    DevOps consultant and architect
                  </span>
                  <span style="padding-top:20px;display:block;">Duration: {{{duration}}}</span>
                  <span style="padding-top:20px;display:block;" class="blink text-danger">
                   New batch: {{newBatch}}
                  </span>
                  <span style="padding-top:0px;display:block;">
                    Price: 
                    <span>
                      Rs {{price}}/-
                      {{#if originalPrice}}
                      ( <small style='color:red;text-decoration:line-through'>
                        <span>{{originalPrice}}</span>
                      </small> )
                      {{/if}}
                    </span>
                  </span>
                  

                </li>
               
                <li class="pricing-desc col-md-12">
                  <a class="btn btn-success btn-md marg-t-10px pull-left" href="/course/{{url}}"
                  style="background: #1ab394;border: #1ab394;">Course Content >></a>
                  <a class="btn btn-danger btn-md marg-t-10px pull-right" href="#">Register Now >></a>
                </li>
              </ul>
            </div>
          {{/with}}

          <!-- {{#with linuxAdminInfo}}
            <div class="col-lg-4 wow zoomIn">
              <ul class="pricing-plan list-unstyled">
               
                <li class="pricing-desc">
                  <h2 style="font-weight: 600;margin-bottom: 0;margin-top: 15px;">
                  LINUX ADMIN 
                  & <br>
                  SCRIPTING
                  </h2>
                </li>
                <li class="pricing-desc">
                  <span style="display:block;">New batch: {{newBatch}}</span>
                  <span style="padding-top:10px;display:block;">Duration: {{duration}}</span>
                  <span style="padding-top:10px;display:block;">
                    Price: 
                    <span>
                      Rs {{price}}/-
                      {{#if originalPrice}}
                      ( <small style='color:red;text-decoration:line-through'>
                        <span>{{originalPrice}}</span>
                      </small> )
                      {{/if}}
                    </span>
                  </span>

                </li>
               
                <li class="pricing-desc">
                  <a class="btn btn-primary btn-xs marg-t-10px" href="linux-admin-and-scripting">Course Content >></a>
                </li>
              </ul>
            </div>
          {{/with}} -->
        </div>
      </div>
    </div>
  </section>
  {{blink}}
  {{#if announcement}}
  <!-- <div style="padding-top: 0px;padding-bottom: 0px;background:#f4f4f4;">
    <div class="alert alert-success alert-dismissible text-center" role="alert" style="color: #fff;background-color: #777;border-color: #777;">
      <button type="button" class="close font-white" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>{{{announcement}}}</strong>
    </div>
  </div> -->
  {{/if}}
  <section>
    <div style="padding-top: 0px;padding-bottom: 0px;background:#f4f4f4;">
      <div class="alert alert-success alert-dismissible text-center" role="alert" style="margin-bottom:0px;">
        <div class="row" style="font-size: 16px;">
          <div class="col-md-8">
            <strong class="text-danger">
              More than 600+ students got job<br>
              200 batches were completed by Mr.Nageswararao.
            </strong>
          </div>
          <div class="col-md-4">
            <!-- 4.9 17 reviews -->
            <span class="pull-left banner text-danger bold">
              {{> starsRating rating=rating size='sm'}}
              <u>{{rating}} out of {{totalReviewsCount}} reviews</u>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pad-b-50px home-img-section">
    <!-- <div class="row marg-t-10px">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <div class="col-md-12">
          <span class="text">
            <span class="font-size-16px">Enroll for Individual Tools:</span> <a href="#devops"> DevOPS</a>  | <a href="#scripting">Scripting</a>
          </span>
        </div>
      </div>
    </div> -->
    <div class="row marg-t-0px" id="devops">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="col-md-12 marg-t-20px">
          <h2 class="text-left home-headings home-gamut-btn">
            Gamut of Devops tools
          </h2>
        </div>
        
        <div class="col-md-12">
          <div class="">
            <img src="https://xebialabs.com/assets/files/infographics/periodic-table-of-devops.png"
            class="img img-responsive">
          </div>
        </div>
        <!-- {{> DevOpsCourses}} -->
      </div>
    </div>
    
    <!-- <div class="row marg-t-30px" id="build-and-release">
      <div class="col-lg-10 col-lg-offset-1">
        
        <div class="col-md-12">
          <h4 class="text-left marg-l-20px">
            Build & Release Individual Tools Training
          </h4>
        </div>
        {{> scriptingCourse}}
        
      </div>
    </div> -->

    <!-- <div class="row marg-t-30px" id="scripting">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="col-md-12">
          <h2 class="text-left marg-l-20px home-headings">
            Scripting Courses
          </h2>
        </div>

        {{> buildAndReleaseCourse}}
        
        
      </div>
    </div> -->


   <!--  <div class="row marg-t-30px" id="scripting">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="col-md-12">
          <h2 class="text-left marg-l-20px home-headings">
            Linux Administration
          </h2>
        </div>

        {{> linuxCourse}}
        
        
      </div>
    </div> -->

    

    
  </section>
  <section class="comments gray-section testimonials-section" style="margin-top: 0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="navy-line" style="margin: 20px auto 0;border-bottom: 2px solid #ed5565;"></div>
          <h1 class="font-white bold">Testimonials</h1>
          <!-- <select style="width:100px;" id="selectCourse">
            <option>All</option>
            <option>DevOps</option>
            <option>Build & Release</option>
            <option>Scripting</option>
          </select> -->
        </div>
      </div>
      <div class="row features-block">
        <div class="col-md-12 testimonials-div">
          {{#each testimonials}}
            <div class="col-md-4" style="height: 250px;">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img alt="{{name}}" data-name="{{name}}" class="media-object profile" style="width: 48px; height: 48px;" src=""
                    >
                  </a> 
                </div> 
                <div class="media-body" style="display: table-cell !important;color: white;">
                  <h4 class="media-heading text-capitalize">
                    {{name}}
                  </h4>
                  <span class="testimonial-stars">
                    {{> starsRating rating=rating size='md' class="pull-left"}}
                    <span class="padding-left: 5px">
                      {{{text}}}
                    </span>
                  </span>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </section>

</template>

<template name="DevOpsCourses">
   <div class="col-md-12">
    {{#each DevOpsCourses}}
    <div class="col-md-3 marg-t-10px">
      <div class="ibox-content">
        <img src="{{logo}}" height="120" style="width:100%;">  
        <!-- <div style="padding:0 10px 20px 10px;margin-bottom:10px;" class="text-center">
          <h4>{{name}}</h4>
          <a href="/course/{{url}}" class="font-white">
            <button class="btn btn-success btn-sm">
            View more >>
              
            </button>
            </a>
        </div> -->
      </div>
    </div>
    {{/each}}
  </div>
</template>

<template name="buildAndReleaseCourse">
   <div class="col-md-12">
    {{#each buildAndReleaseCourse}}
    <div class="col-md-3 marg-t-10px">
      <div class="ibox-content">
        <img src="{{logo}}" height="120" style="width:100%;">  
        <div style="padding:0 10px 20px 10px;margin-bottom:10px;" class="text-center">
          <h4>{{name}}</h4>
          <a href="/course/{{url}}" class="font-white">
            <button class="btn btn-success btn-sm">
              View more >>
            </button>
          </a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</template>

<template name="scriptingCourse">
   <div class="col-md-12">
    {{#each scriptingCourse}}
    <div class="col-md-3 marg-t-30px">
      <div class="ibox-content">
        <img src="{{logo}}" height="120" style="width:100%;">  
        <div style="padding:0 10px 20px 10px;margin-bottom:10px;" class="text-center">
          <h4>{{name}}</h4>
          <a href="/course/{{url}}" class="font-white">
            <button class="btn btn-success btn-sm">
           View more >>
           </button>
          </a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</template>

<template name="linuxCourse">
   <div class="col-md-12">
    {{#each linuxCourse}}
    <div class="col-md-3 marg-t-30px">
      <div class="ibox-content">
        <img src="{{logo}}" height="120" style="width:100%;">  
        <div style="padding:0 10px 20px 10px;margin-bottom:10px;" class="text-center">
          <h4>{{name}}</h4>
          <a href="/course/{{url}}" class="font-white">
            <button class="btn btn-success btn-sm">
           View more >>
           </button>
          </a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</template>


<template name="matchCourse">
  <div class="course-match text-left" style="padding: 10px;">
    {{title}}
  </div>
</template>

<template name="noMatchCourse">
  <div class="course-match text-left" style="padding: 10px;">
    <a href="" id="NewCourse">Looking for New Course?</a>
  </div>
</template>