<template name="multipleCourses">
  <div class="marg-t-70 course-info">
    <div class="">
      <section class="data-section" style="margin:0px">
        <div class="container">
           <div class="row">
            <div class="col-md-12" style="padding: 0 30px;">
              <h1>Linux Admin</h1>
              <img class="cursor-p" style="width:100%;" src="/images/Banner/Redhat.jpg" onclick="FlowRouter.go('/course/linux-admin');">
            </div>
           </div>

           <div class="row marg-t-30px">
            <div class="col-md-12">
              <h1 class="col-md-12">Scripting Courses</h1>
            </div>
            <div class="col-md-12">
              {{#each buildAndReleaseCourse}}
              <div class="col-md-3 marg-t-30px">
                <div class="ibox-content">
                  <img src="{{logo}}" height="120" style="width:100%;">  
                  <div style="padding:0 10px 20px 10px;margin-bottom:10px;" class="text-center">
                    <h4>{{name}}</h4>
                    <button class="btn btn-success btn-sm">
                    <a href="/course/{{url}}" class="font-white"> View more >></a></button>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
           </div>
        </div>
      </section>
    </div>
  </div>
</template>