<template name="courseInfo">
  {{#with courseDetails}}
  <div class="marg-t-80 course-info">
    <div class="">
      <section class="data-section" style="margin: 10px 0px">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="text-center" style="margin-bottom: 0px;">
                      <strong>
                        {{title}}
                      </strong>
                    </h1>
                    <div style="font-size: 16px;" class="text-center">
                      {{secondPageDesc}}
                    </div>
                    <h3 class="">Course Highlights</h3>
                    <!-- <ul class="font-size-16px">
                      {{#each courseHighlights}}
                        <li>{{this}}</li>
                      {{/each}}
                    </ul> -->
                    <table class="table table-striped table-hover table-bordered">
                      <tbody>
                        {{#each courseHighlights}}
                          <tr>
                            <td>
                              {{this}}
                            </td>
                          </tr>
                        {{/each}}
                      </tbody>
                    </table>
                    {{#if headerImage}}
                      <img style="width:100%;height: 270px;" src="{{headerImage}}">
                    {{/if}}
                </div>
                <div class="col-lg-4" id="course-right">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title bg-aaa font-white">
                            <h5 class="">Contact Gurus</h5>
                        </div>
                        <div class="ibox-content" style="padding:10px;background:#fff;">
                          <h3 class=""><strong class="font-black">Phone:</strong> +91-944897 1000 / 2000</h3>
                          <h3 class=""><strong class="font-black">Email:</strong> &nbsp;&nbsp;gamut.trainings@gmail.com</h3>
                        </div>
                    </div>
                <!-- <div class="col-lg-6"> -->
                    <div class="ibox float-e-margins">
                      <div class="ibox-title bg-aaa font-white">
                        <h5 class="">Upcoming classes</h5>
                      </div>
                      <div class="ibox-content">
                        <table class="table table-striped no-margins">
                          <thead>
                          <tr>
                              <th>Type</th>
                              <th>Start Date</th>
                              <th>Fee</th>
                              <th>Action</th>
                          </tr>
                          </thead>
                          <tbody>
                          {{#each upcomingClasses}}
                            <tr>
                                <td>{{type}}</td>
                                <td><i class="fa fa-clock-o"></i> {{start}}</td>
                                <td>{{fee}}</td>
                                <td><span class="label label-warning cursor-p" id="enrollNow">Enroll now</span></td>
                            </tr>
                          {{/each}}
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <!-- <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Course Content</h5>
                        </div>
                        <div class="ibox-content text-center">
                          <button class="btn btn-success" style="margin:10px;"> <i class="fa fa-cloud-download"></i> Download Course Content</button>

                        </div>
                    </div> -->
                    <div class="ibox float-e-margins">
                        <div class="ibox-title bg-aaa font-white">
                            <h5 class="">Looking for Individual Tools?</h5>
                        </div>
                        <div class="ibox-content text-center" style="display: inline-block;width: 100%;">
                          
                          <div class="col-md-12 full-width pad-0">
                            <table class="table table-bordered marg-b-0 full-width individual-courses-table">
                              <tbody>
                                <tr>
                                  <td style="width: 33%;">
                                    <a href="">AWS</a>
                                  </td>
                                  <td style="width: 33%;">
                                    <a href="">Chef</a>
                                  </td>
                                  <td style="width: 33%;">
                                    <a href="">Puppet</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="width: 33%;">
                                    <a href="">Ansible</a>
                                  </td>
                                  <td style="width: 33%;">
                                    <a href="">Docker</a>
                                  </td>
                                  <td style="width: 33%;">
                                    <a href="/courses" style="color: red;">All Courses...</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                <!-- </div> -->
                </div>
            </div>

        </div>
      </section>
      <section class="gray-section" style="margin-top: 10px;">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 visible-xs visible-sm">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Course Content
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      {{#each courseContent}}
                        <h4>{{header}}</h4>
                        <p>{{{description}}}</p>
                      {{/each}}
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Certification
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      {{cetification}}
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        GAMUT Reimbersement
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      {{reimbersement}}
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Your Guru
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                      {{trainer}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 hidden-xs hidden-sm">
              <div class="panel blank-panel">
                <div class="panel-heading">
                  <div class="panel-options">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#tab-1" data-toggle="tab" aria-expanded="true">Course Content</a></li>
                      <li class=""><a href="#tab-2" data-toggle="tab" aria-expanded="false">Certification</a></li>
                      <li class=""><a href="#tab-3" data-toggle="tab" aria-expanded="false">Corporate Reimbursement</a></li>
                      <li class=""><a href="#tab-4" data-toggle="tab" aria-expanded="false">Your Guru</a></li>
                      <li class=""><a href="#tab-5" data-toggle="tab" aria-expanded="false">Testimonials</a></li>
                    </ul>
                  </div>
                </div>

                <div class="panel-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab-1">
                      <div class="feed-activity-list">
                        <div class="feed-element">
                          <p>
                            {{#each courseContent}}
                              <h4>{{header}}</h4>
                              <p>{{{description}}}</p>
                            {{/each}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                      <h4>GAMUT Certification</h4>
                      <div class="col-md-12 text-center">
                        <img src="https://acclaim-production-app.s3.amazonaws.com/images/023358ea-2a20-43d0-b134-a623d55e37a6/oracle_professional.png" width="200" height="200">
                      </div>
                      <p style="margin-top:20px;">{{certification}}
                      </p>
                    </div>
                    <div class="tab-pane" id="tab-3">
                      <h4>GAMUT Reimbersement</h4>
                      <p style="margin-top:10px;">
                        {{reimbersement}}
                      </p>
                    </div>

                    <div class="tab-pane" id="tab-4">
                      <h4>Trainer Info</h4>
                      <p style="margin-top:10px;">{{trainer}}
                      </p>
                    </div>

                    <div class="tab-pane" id="tab-5">
                      <h4>Testimonials</h4>
                      
                      <div class="row features-block">
                        {{#each testimonials}}
                          <div class="col-lg-6 col-lg-offset-3 marg-t-30px">
                            <span class="label label-warning pull-right" style="font-size: 14px;margin-right: 10px;">{{name}}</span><br>
                            <div class="bubble">
                              <span class="label label-info pull-left">{{course}}</span>
                              {{text}}
                            </div>
                          </div>
                        {{/each}}
                        {{#if canShowMore}}
                          <div class="text-center col-sm-12" style="margin-top: 30px;">
                            <button class="btn btn-primary" id="loadMore">Load more</button>
                          </div>
                        {{/if}}
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </section>
    </div>
  </div>
  {{/with}}
</template>