.landing-page .pricing-plan {
    margin: 0px 30px 10px 30px !important;
    background: #FFF !important;
    padding-top: 0 !important;
}
.prime-img{
	width: 100%;
}
.ibox {
    border: 1px solid #e7eaec;
}
.landing-page .pricing-plan {
    border: 1px solid #e7eaec;
}
.tabs-container{
	margin: 5px 0px;
}
.landing-page .header-back {
    height: 100% !important;
}
.landing-page li.pricing-desc {
    /*background: #f4f4f4;*/
    background: #e3e3e3;
}
.cursor-p{
  cursor: pointer;
}
/* Large desktops and laptops */
@media (min-width: 1200px) {

}


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .animated {
    width: 33%;
    display: inline-block;
  }
  .landing-page .pricing-plan {
    margin: 75px 10px 10px 10px;
	}

  .testmonial-rwd-space{
  	margin: 20px 0px;
  }
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .animated {
    width: 370px;
    margin: 0px auto;
  }
  .landing-page .header-back.one {
    background: #FFF !important;
  }
  .testmonial-rwd-space{
  	margin: 20px 0px;
  }

}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .animated {
    width: 370px;
    margin: 0px auto;
  }
  .landing-page .header-back.one {
    background: #FFF !important;
  }
  .testmonial-rwd-space{
  	margin: 20px 0px;
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .animated {
    width: 370px;
    margin: 0px auto;
  }
  .landing-page .header-back.one {
    background: #FFF !important;
  }
  .testmonial-rwd-space{
  	margin: 20px 0px;
  }

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

.marg-t-10px{
  margin-top: 10px;
}


.home-headings {
  color: #1ab394;
  font-weight: 600;
}

#courseSearch::-webkit-input-placeholder {
  /*color: white;*/
}

.home-box {
  width: 390px;
  height: 260px;
  margin: 0 auto !important;
  padding: 0 !important;
  text-align: center;
  background: transparent !important;
  border-color: transparent !important;
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .home-box, iframe {
    width: 300px !important;
    height: 200px !important;
  }
}
.banner .stars-rating {
  margin-left: 15px !important;
  margin-bottom: 5px;
}

.home-img-section {
  background: rgba(66, 139, 202, 0.21) !important;
}

.home-gamut-btn {
  padding: 10px 10px 10px 5px;
  background: #1ab394;
  float: left;
  color: white;
  border-radius: 10px;
  margin-bottom: 0;
}

.testimonial-stars .stars-rating {
  margin-right: 5px;
  margin-top: 2px;
}

.bold {
  font-weight: bold !important;
}