<template name="AllCourses">

  <div class="marg-t-80">
    
    <div class="container">
      <div class="full-width text-center">
        <div class="hidden-xs hidden-sm">
          <div class="col-md-5 col-md-offset-4 text-center">
            {{> inputAutocomplete settings=courseSearchSettings id="courseSearch"
                        class="form-control bg-transparent" placeholder='Search for courses' style="border:1px solid #333;" autofocus="true"}}
          </div>
        </div>
        <div class="visible-xs visible-sm" style="padding-top: 70px;">
          <div class="col-xs-10 col-xs-offset-1 text-center">
            <input type="text" class="form-control bg-transparent font-black" placeholder="Search for courses" autofocus style="border:1px solid #333;">
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 30px !important;">
      <div class="row">

        {{#each AllCourses}}
          <div class="col-md-4" style="height: 370px;">
            <div class="ibox float-e-margins">
                <div>
                    <div class="ibox-content no-padding border-left-right">
                        <img alt="image" class="img-responsive" height="150" src="{{thumbnail}}" style="max-height: 150px;width: 100%;">
                    </div>
                    <div class="ibox-content profile-content" style="padding: 15px 20px 20px 20px;">
                        <h4><strong>{{title}}</strong></h4>
                        <!-- <p style="height: 50px;"> -->

                          <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat -->
                        <!-- </p> -->
                       
                        <div class="user-button">
                            <div class="full-width">
                                <div class="">
                                  <a class="btn btn-primary btn-sm btn-block marg-t-10px" href="/course/{{url}}">
                                    Full Details
                                  </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  
  </div>

</template>