<template name="Trainers">
  <img src="https://images.alphacoders.com/435/thumb-1920-435556.png" style="width: 100%;height: 400px;">
  <!-- <img src="https://images3.alphacoders.com/853/thumb-1920-85325.jpg" style="width: 100%;height: 400px;"> -->

  <div class="marg-t-80">

    Lorem ipsum in duis quis laboris incididunt sed laborum commodo mollit tempor eiusmod proident elit eiusmod eu voluptate quis cupidatat dolore in laborum labore id et et magna in magna velit ex incididunt ea voluptate labore fugiat sed nulla enim consequat consectetur in laborum in enim duis aliquip qui do eiusmod pariatur incididunt sit do qui nostrud laborum reprehenderit non fugiat proident ad culpa qui amet sed ut officia anim id sit dolore occaecat in aute anim nulla proident sint quis veniam proident ut eiusmod labore eiusmod irure magna tempor officia nostrud veniam in ut adipisicing ex incididunt id anim culpa commodo ex non cupidatat laborum duis et eiusmod laboris fugiat nulla aliquip mollit eiusmod est pariatur nulla et excepteur magna deserunt dolore sint laboris ullamco enim laboris elit dolor minim nostrud deserunt amet eiusmod aliqua dolore enim ut sit deserunt quis qui est magna amet sint non dolor minim aliquip sed deserunt exercitation quis excepteur dolor minim cillum sed velit reprehenderit ut nisi veniam aliquip velit duis laboris incididunt reprehenderit dolor commodo.
  
  </div>
  <div class="marg-t-80">
    <div class="row text-center">
      <h1>GURU Images</h1>

      <div class="col-md-12">
        {{#each personalImages}}
          <div class="col-md-4" style="margin:0;padding: 0;">
            <img src="{{this}}" class="img img-responsive full-width" style="height: 300px;">
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="marg-t-80">
    <div class="row text-center">
      <h1>Recent DevOps Workshop</h1>

      <div class="col-md-12">
        {{#each images}}
          <div class="col-md-4" style="margin:0;padding: 0;">
            <img src="{{this}}" class="img img-responsive full-width" style="height: 300px;">
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <!-- <div class="marg-t-80">
    <div class="wrapper wrapper-content  animated fadeInRight article">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="ibox">
            <div class="ibox-content">
              <div class="row trainer-form">
                <div class="col-md-12 text-center">
                  <h2>Join with us</h2>
                </div>
                <form role="form" id="trainerForm" class="marg-t-30px width-80pc">
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="firstName" class="sr-only">First Name</label>
                        <input type="text" placeholder="First Name" id="firstName" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="lastName" class="sr-only">Last Name</label>
                        <input type="text" placeholder="Last Name" id="lastName" class="form-control">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="mobileNumber" class="sr-only">Mobile</label>
                        <input type="text" placeholder="Mobile" id="mobileNumber" class="form-control">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        <input type="email" placeholder="Email" id="email" class="form-control">
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="courseName" class="sr-only">Course Name</label>
                        <input type="text" placeholder="Course Name" id="courseName" class="form-control">
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="aboutCourse" class="sr-only">About the Course</label>
                        <textarea placeholder="About the Course" id="aboutCourse" class="form-control" rows="3"></textarea>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="aboutYourSelf" class="sr-only">Tell Us More About Yourself</label>
                        <textarea placeholder="Tell Us More About Yourself" id="aboutYourSelf" class="form-control" rows="5"></textarea>
                      </div>
                    </div>
                    
                    <div class="col-md-12">
                      <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="text-center">
                  <h1>
                      Behind the word mountains
                  </h1>
              </div>
              <div>
                <p>
                  Many desktop publishing packages and web page editors now use <strong>Lorem Ipsum as their default model text</strong>, and a search for 'lorem ipsum' will uncover many web
                </p>
                <p>
                    One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops
                </p>
                <p>
                    <i>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                    </i>
                </p>
                <p>
                    The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek,
                </p>
                <p>
                    Two driven jocks help fax my big quiz. Quick, Baz, get my woven flax jodhpurs! "Now fax quiz Jack!" my brave ghost pled. Five quacking zephyrs jolt my wax bed. Flummoxed by job, kvetching W. zaps Iraq. Cozy sphinx waves quart jug of bad milk. A very bad quack might jinx zippy fowls. Few quips galvanized the mock jury box. Quick brown dogs jump over the lazy fox. The jay, pig, fox, zebra, and my wolves quack! Blowzy red vixens fight for a quick jump. Joaquin Phoenix was gazed by MTV for luck. A wizard’s job is to vex chumps quickly in fog. Watch "Jeopardy!", Alex Trebek's fun TV quiz game. Woven silk pyjamas exchanged for blue quartz. Brawny gods just
                </p>
                <p>
                    Brick quiz whangs jumpy veldt fox. Bright vixens jump; dozy fowl quack. Quick wafting zephyrs vex bold Jim. Quick zephyrs blow, vexing daft Jim. Sex-charged fop blew my junk TV quiz. How quickly daft jumping zebras vex.
                </p>
                <hr>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</template>