<template name="navbar">
  <div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="" href="/" onclick="scrollToTop()">
            <!-- GAMUT GURUS -->
            <img src="/images/LOGO/LOGO_Size_1.png" width="150" height="50">
          </a>
        </div>
        <!-- <div style="position: absolute;right: 60px;top:5px;">
          <span class="font-white" style="font-size: 18px;">
            +91-944897 1000 / 2000 <a href="mailto:gamut.trainings@gmail.com" style="color: white;">gamut.trainings@gmail.com</a>
          </span>
        </div> -->
        <div id="navbar" class="navbar-collapse collapse">
          <div class="nav-center hidden-xs hidden-sm">
            <span class="" style="font-size: 14px;">
              <div class="col-md-12">
                <div class="col-md-6">
                  <i class="fa fa-mobile "></i>
                  +91-944897 1000<br>
                  +91-944897 2000
                </div>
                <div class="col-md-6">
                  <i class="fa fa-envelope-o pad-l-10px"></i>
                  <a href="mailto:info@gamutgurus.com">info@gamutgurus.com</a><br>
                  <!-- <span class="pull-left">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                  </span> -->
                </div>
              </div>
            </span>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="page-scroll" href="/trainers">Guru</a></li>
            <li><a class="page-scroll" href="#" id="goToTestimonials">Testimonials</a></li>
            <!-- <li><a class="page-scroll" href="#" id="goToCourses">Courses</a></li> -->
            <!-- <li><a class="page-scroll" href="#features">Features</a></li> -->
            <!-- <li><a class="page-scroll" href="#team">Team</a></li> -->
            <li><a class="page-scroll" href="/contact">Contact</a></li>
            {{#if currentUser}}
             <!--  <li>
                <a class="page-scroll" href="/profile">{{currentUser.profile.name}}</a>
              </li> -->

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{limitString 9 currentUser.profile.name}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/profile" class="color-black">Profile</a></li>
                  <li><a href="" id="logout" class="color-black">Logout</a></li>
                </ul>
              </li>
            {{else}}
              <li><a class="page-scroll" href="/login">Login</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>
