<template name="footer">
<hr style="margin-top: 0;margin-bottom: 0" />
<section id="contact" class="gray-section contact font-white">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong><span class="navy">GAMUT GURUS.</span></strong><br/>
                    Gamut training institute<br/>
                    Beside A2B, Opposite to Bus stop<br/>
                    Marathalli, Bangalore. PIN - 560037<br/>
                    <abbr title="Phone">P:</abbr> +91-94489 71000 / 2000
                </address>
            </div>
            <div class="col-lg-4">
                <p class="font-white">
                    Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a> -->
                <p class="m-t-sm font-white">
                    Follow us on social platform
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="/twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="/facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <!-- <li><a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong class="font-white">&copy; 2016 Gamut Gurus</strong></p>
            </div>
        </div>
    </div>
</section>
</template>