<template name="Login">
  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 marg-t-10pc">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <a href="#" class="active" id="login-form-link">Login</a>
              </div>
              <div class="col-xs-6">
                <a href="#" id="register-form-link">Register</a>
              </div>
            </div>
            <hr>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <form id="login-form" role="form" style="display: block;">
                  <div class="form-group">
                    <input type="text" name="username" id="userFullName" tabindex="1" class="form-control" placeholder="Email" value="">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="text-center">
                          <a href="#" id="forgotPassword" tabindex="5" class="forgot-password">Forgot Password?</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <form id="register-form" style="display: none;">
                  <div class="form-group">
                    <input type="text" name="fullName" id="userRegisteringName" tabindex="1" class="form-control" placeholder="Full Name" value="">
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" id="registerEmail" tabindex="1" class="form-control" placeholder="Email Address" value="">
                  </div>
                  <div class="form-group">
                    <input type="text" name="mobile" id="registerMobileNo" tabindex="1" class="form-control" placeholder="Mobile number" value="">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="registerPassword" tabindex="2" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="pwdModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h1 class="text-center">What's My Password?</h1>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <p>If you have forgotten your password you can reset it here.</p>
                    <div class="panel-body">
                      <fieldset>
                        <div class="form-group">
                          <input class="form-control input-lg" placeholder="E-mail Address" name="email" type="email" id="resetEmail">
                        </div>
                        <input class="btn btn-lg btn-primary btn-block" value="Send My Password" type="submit" id="sendResetEmail">
                      </fieldset>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-md-12">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
