<template name="resetPassword">
  <div class="middle-box text-center loginscreen animated fadeInDown marg-t-100">
    <div>
      <h1 class="logo-name"></h1>
    </div>
    <h3>Reset Password</h3>

    <!-- <p>Create account to see it in action.</p> -->

    <form class="m-t" role="form" id="resetPasswordForm">
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" id="password1">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" id="password2">
      </div>
     
      <button type="submit" class="btn btn-primary block full-width m-b">Reset Password</button>

      <p class="text-muted text-center">
        <small>Already have an account?</small>
      </p>
      <a class="btn btn-sm btn-white btn-block" href="/login" id="resetPassword">Login</a>
    </form>
  </div>
</template>