<template name="profile">
  <div class="marg-t-80 width-80pc">
    {{#if admin}}
      <div class="row col-md-12">
        <div class="tabs-container">
          <div class="tabs-left">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#tab-6">Queries</a></li>
              <li class=""><a data-toggle="tab" href="#tab-reviews">Reviews</a></li>
              <li class=""><a data-toggle="tab" href="#tab-7">Special Annoucement</a></li>
              <li class=""><a data-toggle="tab" href="#tab-8">Gamutians</a></li>
              <li class=""><a data-toggle="tab" href="#tab-9">UserBase</a></li>
            </ul>
            <div class="tab-content">
              <div id="tab-reviews" class="tab-pane">
                <div class="panel-body">
                  <h2 class="pull-left">All Reviews</h2>
                  <div class="row">
                  </div>

                  <div class="mail-box">
                    <table class="table table-hover table-mail">
                      <thead>
                        <tr class="text-left">
                          <td>Approved</td>
                          <td>Name</td>
                          <td>Review</td>
                          <td>Rating</td>
                          <td>Date</td>
                          <td>Position</td>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each allTestimonials}}
                          <tr class="text-left">
                            <td class="check-mail">
                              {{#if approved}}
                                <input type="checkbox" class="i-checks" checked="true" id="approved_{{_id}}">
                              {{else}}
                                <input type="checkbox" class="i-checks" id="approved_{{_id}}">
                              {{/if}}
                            </td> 
                            <td class="mail-ontact">{{name}}</td>
                            <td class="mail-subject">{{text}}</td>
                            <td class="">{{rating}}</td>
                            <td class="mail-date">{{parseDate createdAt}}</td>
                            <td>
                              <input type="text" value="{{position}}" style="width: 50px;" id="position_{{_id}}">
                            </td>
                            <td>
                              <button type="button" class="btn btn-primary btn-sm" id="updateTestRecord">Update</button>
                            </td>
                          </tr>
                        {{/each}}
                      </tbody>
                    </table>


                  </div>
                </div>
              </div>
              <div id="tab-6" class="tab-pane active">
                <div class="panel-body">
                  <h2 class="pull-left">Queries</h2>
                  <button class="btn btn-danger pull-right" id="showActionModalToggle">Action</button>
                  <div class="row">
                    <select data-placeholder="Choose a Course..." class="chosen-select text-center" style="margin-bottom:10px;" id="queriesCourse">
                      <option>All</option>
                      <option>DevOps</option>
                      <option>Build and Release</option>
                      <option>Scripting</option>
                    </select>
                  </div>

                  <div class="mail-box">
                    <table class="table table-hover table-mail">
                      <thead>
                        <tr class="text-left">
                          <td></td>
                          <td>Name</td>
                          <td>Mobile</td>
                          <td>Email</td>
                          <td>Course</td>
                          <td>Enquiry Date</td>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each queries}}
                          <tr class="text-left">
                            <td class="check-mail">
                              <input type="checkbox" class="i-checks">
                            </td> 
                            <td class="mail-ontact"><a href="">{{name}}</a></td>
                            <td class="mail-subject"><a href="">{{mobile}}</a></td>
                            <td class="">sasi.kanth80@gmail.com</td>
                            <td class="mail-date">{{course}}</td>
                            <td class="mail-date">{{createdAt}}</td>
                          </tr>
                        {{/each}}
                      </tbody>
                    </table>


                  </div>
                </div>
              </div>
              <div id="tab-7" class="tab-pane">
                <div class="panel-body">
                  <div class="ibox float-e-margins">
                    <div class="ibox-content">
                      <h2 class="text-center">
                        <strong>Special Announcement</strong>
                      </h2>
                      <div class="hr-line-dashed"></div>
                      <form class="form-horizontal marg-t-30px">
                        <div class="form-group">
                          <div class="col-sm-10 col-sm-offset-1">
                            <textarea rows=5 class="form-control" id="announcement" placeholder="Enter special announcement text...">{{announcement}}</textarea>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-11">
                            <div class="pull-right">
                              <button class="btn btn-primary" id="saveSpecialAnnouncement">Save</button>
                            </div>
                          </div>
                        </div>

                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-8" class="tab-pane">
                <div class="panel-body">
                  <h2 class="pull-left">Gamuttians</h2>
                  
                  <div class="row">
                    <select data-placeholder="Choose a Course..." class="chosen-select text-center" style="margin-bottom:10px;" tabindex="4">
                      <option value="">All</option>
                      <option value="">Devops</option>
                      <option value="">Build and Release</option>
                      <option value="">AWS</option>
                    </select>
                  </div>

                  <div class="mail-box">
                    <table class="table table-hover table-mail">
                        <thead>
                          <tr class="text-left">
                            <td>Name</td>
                            <td>Mobile</td>
                            <td>Email</td>
                            <td>Course</td>
                            <td>Fees</td>
                            <td>Remarks</td>
                          </tr>
                        </thead>
                        <tbody>
                        <tr class="text-left">
                          <td class="mail-ontact"><a href="">Anna Smith</a></td>
                          <td class="mail-subject"><a href="">9000166695.</a></td>
                          <td class="">sasi.kanth80@gmail.com</td>
                          <td class="mail-date">Devops</td>
                          <td class="mail-date">10,000</td>
                          <td>Remarks</td>
                        </tr>
                        <tr class="text-left">
                          <td class="mail-ontact"><a href="">Anna Smith</a></td>
                          <td class="mail-subject"><a href="">9000166695.</a></td>
                          <td class="">sasi.kanth80@gmail.com</td>
                          <td class="mail-date">Devops</td>
                          <td class="mail-date">10,000</td>
                          <td>Remarks</td>
                        </tr>
                        <tr class="text-left">
                          <td class="mail-ontact"><a href="">Anna Smith</a></td>
                          <td class="mail-subject"><a href="">9000166695.</a></td>
                          <td class="">sasi.kanth80@gmail.com</td>
                          <td class="mail-date">Devops</td>
                          <td class="mail-date">10,000</td>
                          <td>Remarks</td>
                        </tr>
                        <tr class="text-left">
                          <td class="mail-ontact"><a href="">Anna Smith</a></td>
                          <td class="mail-subject"><a href="">9000166695.</a></td>
                          <td class="">sasi.kanth80@gmail.com</td>
                          <td class="mail-date">Devops</td>
                          <td class="mail-date">10,000</td>
                          <td>Remarks</td>
                        </tr>
                        <tr class="text-left">
                          <td class="mail-ontact"><a href="">Anna Smith</a></td>
                          <td class="mail-subject"><a href="">9000166695.</a></td>
                          <td class="">sasi.kanth80@gmail.com</td>
                          <td class="mail-date">Devops</td>
                          <td class="mail-date">10,000</td>
                          <td>Remarks</td>
                        </tr>
                        
                      </tbody>
                    </table>


                  </div>
                </div>
              </div>
              <div id="tab-9" class="tab-pane">
                <div class="panel-body">
                  <h2 class="pull-left">User Base</h2>
                  
                  <div class="row">
                    <select data-placeholder="Choose a Course..." class="chosen-select text-center" style="margin-bottom:10px;" tabindex="4">
                      <option value="">All</option>
                      <option value="">Gamutians</option>
                      <option value="">Prospects</option>
                    </select>
                  </div>

                  <div class="mail-box">
                    <table class="table table-hover table-mail">
                      <thead>
                        <tr class="text-left">
                          <td>Name</td>
                          <td>Mobile</td>
                          <td>Email</td>
                          <td>Course</td>
                          <td>Fees</td>
                          <td>Enquiry Date</td>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each userBase}}
                          <tr class="text-left">
                            <td class="mail-ontact"><a href="">{{profile.name}}</a></td>
                            <td class="mail-subject"><a href="">{{profile.mobile}}</a></td>
                            <td class="">email</td>
                            <td class="mail-date">Devops</td>
                            <td class="mail-date">10,000</td>
                            <td>Aug 13, 2016</td>
                          </tr>
                        {{/each}}
                      </tbody>
                    </table>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
      <!-- Update Password -->
      <!-- Testimonials -->
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-content">

            {{#unless testimonial}}
              <h2 class="text-center">
                <strong>Add Testimonial</strong>
              </h2>
              <div class="hr-line-dashed"></div>
              <form class="form-horizontal marg-t-30px">
                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-1">
                    <textarea class="form-control" placeholder="Please type your testimonial" rows="7" id="testimonial"></textarea><br>
                    <!-- <select class="form-control" id="testimonialCourse">
                      <option>Select Course</option>
                      <option>DevOps</option>
                      <option>Build & Release</option>
                      <option>Scripting</option>
                    </select> -->
                    <label class="pull-left" style="margin-right: 10px;">
                      Rating:
                    </label>
                    <div id="rateYo" class="pull-left"></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-11">
                    <div class="pull-right">
                      <button class="btn btn-white" id="cancelTestimonial">Clear</button>
                      <button class="btn btn-primary" id="saveTestimonial">Submit</button>
                    </div>
                  </div>
                </div>
                <div class="hr-line-dashed"></div>
              </form>
            {{else}}
              <h2 class="text-center">
                <strong>Update Testimonial</strong>
              </h2>
              <div class="hr-line-dashed"></div>
              <form class="form-horizontal marg-t-30px">
                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-1">
                    <textarea class="form-control" placeholder="Please type your testimonial" rows="7" id="testimonialEdit">{{testimonial}}</textarea><br>
                    <!-- <select class="form-control" id="testimonialCourse">
                      <option>Select Course</option>
                      <option>DevOps</option>
                      <option>Build & Release</option>
                      <option>Scripting</option>
                      <option class="Other">Other/All</option>
                    </select> -->
                    <div id="rateYo" class="pull-left"></div>
                    <!--  -->
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-11">
                    <div class="pull-right">
                      <button class="btn btn-primary" id="updateTestimonial">Update</button>
                    </div>
                  </div>
                </div>
                <div class="hr-line-dashed"></div>
              </form>
            {{/unless}}

          </div>
        </div>
      </div>
      
      <div class="row col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <h2 class="text-center">
              <strong>Update Password</strong>
            </h2>
            <div class="hr-line-dashed"></div>
            <form class="form-horizontal marg-t-30px">
              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-1">
                  <input type="password" class="form-control" id="oldPassword" placeholder="Old Password">
                  <input type="password" class="form-control marg-t-10px" id="newPassword" placeholder="New Password">
                  <input type="password" class="form-control marg-t-10px" id="newPassword1" placeholder="Repeat Password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-11">
                  <div class="pull-right">
                    <button class="btn btn-primary" id="updatePwd">Update password</button>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
      

      <div class="col-lg-12">
        <div class="form-group row">
          <div class="col-sm-10 col-sm-offset-1">
            <button class="btn btn-danger" id="logout">
              <i class="fa fa-sign-out"></i> Logout
            </button>
          </div>
        </div>
      </div>
    
  </div>
  
  <!-- Modal -->
<div class="modal" id="showActionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Actions</h4>
      </div>
      <div class="modal-body">
        <div class="">
          <!-- <textarea class="form-control" row="5" placeholder="Reason"></textarea> -->
          <input type="text" class="form-control" placeholder="Fees" id="actionFees" style="margin-top:20px">
          <h5>Courses:</h5>
          <div class="col-md-12" style="margin-bottom:10px">
            <div class="col-md-4">
              <input type="checkbox" id="DevOps"> DevOps
            </div>
            <div class="col-md-4">
              <input type="checkbox" id="AWS"> AWS
            </div>
            <div class="col-md-4">
              <input type="checkbox" id="BuildandRelease"> Build and Release
            </div>
            <div class="col-md-4">
              <input type="checkbox" id="Course1"> Course 1
            </div>
            <div class="col-md-4">
              <input type="checkbox" id="Course2"> Course 2
            </div>
          </div>

          <textarea class="form-control" row="5" placeholder="Remarks" id="actionRemarks" style="margin-top:20px"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveActions">Save changes</button>
      </div>
    </div>
  </div>
</div>
</template>
